* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* font */
    font-family: monospace;
    color: white;
}


body {
    background-color: black;
    overflow: hidden;
}

p {
    color: white; 
    font-size: 1.3em;
}

button {
    outline: none;
    background-color: black;
    color: white;
    font-size: 1.3em;
}



/* Outer Container Section */
.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}



/* Top Container Section */
.top-bar p {
    float: right;
}



/* inner container */
.inner-container {
    background-color: black;
    height: 100%;
    width: 50%;
    margin: 0 auto;
}



/* Quiz Intro */
.quiz-intro {
    margin-top: 30vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(49, 25, 71);
}

.quiz-into p {
    text-align: center;
}

.quiz-intro button {
    display: block;
    margin: 0 auto;
}

/*  Actual Quiz Content */

main {
    display: block
}

.question-screen {
    display: none;
}

.quiz-finish {
    display: none;
}

.highestScores-screen {
    display: none;
}

.highestScores-screen ol {
overflow-y: scroll;
max-height: 200px;
}